12/10/2024

# Variables

In [3]:
my_job_title = "Software Engineer"

In [7]:
my_salary = "$125,268"

In [11]:
prompt = "What is your name?"
print(f"Prompt: {prompt}")

Prompt: What is your name?

In [12]:
response = input()
print(f"Response: {response}")

Avion
Response: Avion

In [18]:
greetings = "Hello,"
print(f"{greetings}{response}")

Hello, Avion

In [23]:
hello = "Hello"
world = "World,"
year = 2024

# Data Types

In [6]:
print(type(my_job_title))

<class 'str'>

In [26]:
print(type(year))

<class 'int'>

# Outputs

In [5]:
print(my_job_title)

Software Engineer

In [8]:
print(my_salary)

$125,268

In [9]:
print(my_job_title, my_salary)

Software Engineer $125,268

In [10]:
print(f"My job title is {my_job_title} and I make {my_salary} a year.")

My job title is Software Engineer and I make $125,268 a year.

In [15]:
print("Hello World! 2024")

Hello World! 2024

In [25]:
print(f"{hello} {world} {year}!")

Hello World, 2024!

# Controls

In [30]:
salary = int(input("What is your salary? "))
if salary <= 56600:
  print(f"${salary} is low income :(. ")
elif salary <= 169800:
  print(f"${salary} is median income :)")
else:
  print(f"${salary} is high income ;)")

What is your salary? 180000
$180000 is high income ;)

In [37]:
chosen_artist = input("Name an artist: ")
artist = "Kendrick"
if chosen_artist == artist:
  print("Like Us!")
else:
  print("Not Like Us!")

Name an artist: Drake
Not Like Us!

In [48]:
# prompt: create me a dataset with 10 rows, please.

import pandas as pd
import numpy as np

data = {
        'prompt': ['What is your name?'] * 10,
    'response': ['John', 'Jane', 'Mike', 'Sarah', 'David', 'Emily', 'Tom', 'Jessica', 'Kevin', 'Ashley'],
    'job_title': ['Software Engineer'] * 10,
    'salary': [40000, 60000, 100000, 150000, 200000, 50000, 75000, 125000, 175000, 250000],
    'favorite_artist': ['Kendrick', 'Taylor Swift', 'Drake', 'Beyonce', 'Eminem', 'Rihanna', 'Adele', 'Ed Sheeran', 'Billie Eilish', 'Post Malone']
}
df = pd.DataFrame(data)

df.to_csv('dataset.csv', index=False)

In [61]:
df = pd.DataFrame(data)
df

               prompt response          job_title  salary favorite_artist
0  What is your name?     John  Software Engineer   40000        Kendrick
1  What is your name?     Jane  Software Engineer   60000    Taylor Swift
2  What is your name?     Mike  Software Engineer  100000           Drake
3  What is your name?    Sarah  Software Engineer  150000         Beyonce
4  What is your name?    David  Software Engineer  200000          Eminem
5  What is your name?    Emily  Software Engineer   50000         Rihanna
6  What is your name?      Tom  Software Engineer   75000           Adele
7  What is your name?  Jessica  Software Engineer  125000      Ed Sheeran
8  What is your name?    Kevin  Software Engineer  175000   Billie Eilish
9  What is your name?   Ashley  Software Engineer  250000     Post Malone

In [38]:
for index in range(1,5):
  print(index)

1
2
3
4

In [65]:
def techJobs(role):
  #return f"{role} is a tech job!"
  role = techJobs(input("What is your role? "))

  if role == "Software Engineer":
    print(f"{role} a tech job!")
  elif role == "Data Scientist":
    print(f"{role} a tech job!")
  elif role == "Data Analyst":
    print(f"{role} a tech job!")
  else:
    print(f"{role} a tech job.")